QPalette{background:#CFDDEE;}*{outline:0px;color:#324C6C;}

QWidget[form="true"],QLabel[frameShape="1"]
{
border:1px solid #7F9AB8;
border-radius:0px;
}

.QFrame
{
border:1px solid #7F9AB8;
border-radius:3px;
}

QWidget#widget_title,QWidget#widget_left
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QWidget#widget_bottom
{
background:#C0D3EB;
}

QWidget#widget_bottom>QFrame
{
border:1px solid #324C6C;
}

QLabel#lab_Title,QWidget#widget_title>QLabel,QWidget#widget_bottom>QLabel
{
border-radius:0px;
color:#324C6C;
background:none;
border-style:none;
}

QWidget#widget_top>QToolButton::menu-indicator,QWidget#widget_menu>QToolButton::menu-indicator
{
image:None;
}

QWidget#widget_top>QToolButton,QWidget#widget_top>QLabel
{
border-style:none;
border-radius:0px;
padding:5px;
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QWidget#widget_top>QToolButton:pressed,QWidget#widget_top>QToolButton:hover,QWidget#widget_top>QToolButton:checked,QWidget#widget_top>QLabel:hover
{
border-style:solid;
border-width:0px 0px 2px 0px;
border-color:#00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QGroupBox#gboxVideo>QLabel,QFrame#gboxVideo>QLabel
{
color:#324C6C;
border:1px solid #7F9AB8;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QGroupBox#gboxVideo>QLabel:focus,QFrame#gboxVideo>QLabel:focus
{
border:1px solid #FF0000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit
{
border:1px solid #7F9AB8;
padding:2px;
background:none;
selection-background-color:#C0D3EB;
selection-color:#324C6C;
}

QLineEdit
{
border-radius:5px;
}

QComboBox
{
border-radius:5px;
}


QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover
{
border:1px solid #7F9AB8;
}

QLineEdit[echoMode="2"]
{
lineedit-password-character:9679;
}

.QGroupBox
{
border:1px solid #7F9AB8;
border-radius:5px;
margin-top:3ex;
}

.QGroupBox::title
{
subcontrol-origin:margin;
position:relative;
left:10px;
}

.QPushButton,.QToolButton
{
border-style:none;
border:1px solid #7F9AB8;
color:#324C6C;
padding:5px;
min-height:15px;
border-radius:13px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

.QPushButton:hover,QToolButton:hover
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

.QPushButton:pressed,QToolButton:pressed
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QToolButton#btnMenu,QPushButton#btnMenu_Min,QPushButton#btnMenu_Max,QPushButton#btnMenu_Close
{
border-radius:3px;
color:#324C6C;
padding:3px;
margin:0px;
background:none;
border-style:none;
}

QToolButton#btnMenu:hover,QPushButton#btnMenu_Min:hover,QPushButton#btnMenu_Max:hover
{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(51,127,209,230);
}

QPushButton#btnMenu_Close:hover
{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(238,0,0,128);
}

QWidget#widget_left>QPushButton,QWidget#widget_left>QToolButton
{
border-radius:0px;
color:#324C6C;
background:none;
border-style:none;
}

QWidget#widget_left>QPushButton:hover,QWidget#widget_left>QToolButton:hover
{
color:#FFFFFF;
background-color:#00BB9E;
}

QWidget#widget_left>QPushButton:checked,QWidget#widget_left>QToolButton:checked,QWidget#widget_left>QPushButton:pressed,QWidget#widget_left>QToolButton:pressed
{
color:#324C6C;
border-style:solid;
border-width:0px 0px 0px 2px;
border-color:#00BB9E;
background-color:#CFDDEE;
}

QRadioButton::indicator
{
width:15px;
height:15px;
}

QRadioButton::indicator::unchecked
{
image:url(:/qss/qss/blue/radiobutton_unchecked.png);
}

QRadioButton::indicator::unchecked:disabled
{
image:url(:/qss/qss/blue/radiobutton_unchecked_disable.png);
}

QRadioButton::indicator::checked
{
image:url(:/qss/qss/blue/radiobutton_checked.png);
}

QRadioButton::indicator::checked:disabled
{
image:url(:/qss/qss/blue/radiobutton_checked_disable.png);
}

QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator
{
padding:0px -3px 0px 3px;
}

QCheckBox::indicator,QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator
{
width:13px;
height:13px;
}

QCheckBox::indicator:unchecked,QGroupBox::indicator:unchecked,QTreeWidget::indicator:unchecked,QListWidget::indicator:unchecked
{
image:url(:/qss/qss/blue/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:disabled,QGroupBox::indicator:unchecked:disabled,QTreeWidget::indicator:unchecked:disabled,QListWidget::indicator:disabled
{
image:url(:/qss/qss/blue/checkbox_unchecked_disable.png);
}

QCheckBox::indicator:checked,QGroupBox::indicator:checked,QTreeWidget::indicator:checked,QListWidget::indicator:checked
{
image:url(:/qss/qss/blue/checkbox_checked.png);
}

QCheckBox::indicator:checked:disabled,QGroupBox::indicator:checked:disabled,QTreeWidget::indicator:checked:disabled,QListWidget::indicator:checked:disabled
{
image:url(:/qss/qss/blue/checkbox_checked_disable.png);
}

QCheckBox::indicator:indeterminate,QGroupBox::indicator:indeterminate,QTreeWidget::indicator:indeterminate,QListWidget::indicator:indeterminate
{
image:url(:/qss/qss/blue/checkbox_parcial.png);
}

QCheckBox::indicator:indeterminate:disabled,QGroupBox::indicator:indeterminate:disabled,QTreeWidget::indicator:indeterminate:disabled,QListWidget::indicator:indeterminate:disabled
{
image:url(:/qss/qss/blue/checkbox_parcial_disable.png);
}

QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button
{
image:url(:/qss/qss/blue/add_top.png);
width:10px;
height:10px;
padding:2px 5px 0px 0px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button
{
image:url(:/qss/qss/blue/add_bottom.png);
width:10px;
height:10px;
padding:0px 5px 2px 0px;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed
{
top:-2px;
}
  
QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed
{
bottom:-2px;
}

QComboBox::down-arrow,QDateEdit[calendarPopup="true"]::down-arrow,QTimeEdit[calendarPopup="true"]::down-arrow,QDateTimeEdit[calendarPopup="true"]::down-arrow
{
image:url(:/qss/qss/blue/add_bottom.png);
width:10px;
height:10px;
right:2px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down
{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-left-color:#7F9AB8;
}

QComboBox::drop-down:on
{
top:1px;
}

QMenuBar::item
{
color:#324C6C;
background-color:#C0D3EB;
margin:10px;
padding:3px 10px;
}

QMenu,QMenuBar,QMenu:disabled,QMenuBar:disabled
{
color:#324C6C;
background-color:#C0D3EB;
border:1px solid #7F9AB8;
margin:0px;
}

QMenu::item
{
padding:5px 10px;
}

QMenu::icon
{
position:absolute;
left:5px;
}

QMenu::indicator
{
width:13px;
height:13px;
}

QMenu::item:selected,QMenuBar::item:selected
{
color:#324C6C;
border:0px solid #7F9AB8;
background:#D2E3F5;
}

QMenu::separator
{
height:1px;
background:#7F9AB8;
}

QProgressBar
{
min-height:10px;
background:#C0D3EB;
border-radius:5px;
text-align:center;
border:1px solid #C0D3EB;
}

QProgressBar:chunk
{
border-radius:5px;
background-color:#7F9AB8;
}

QSlider::groove:horizontal
{
background:#C0D3EB;
height:8px;
border-radius:4px;
}

QSlider::add-page:horizontal
{
background:#C0D3EB;
height:8px;
border-radius:4px;
}

QSlider::sub-page:horizontal
{
background:#7F9AB8;
height:8px;
border-radius:4px;
}

QSlider::handle:horizontal
{
width:13px;
margin-top:-3px;
margin-bottom:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #CFDDEE,stop:0.8 #7F9AB8);
}

QSlider::groove:vertical
{
width:8px;
border-radius:4px;
background:#C0D3EB;
}

QSlider::add-page:vertical
{
width:8px;
border-radius:4px;
background:#C0D3EB;
}

QSlider::sub-page:vertical
{
width:8px;
border-radius:4px;
background:#7F9AB8;
}

QSlider::handle:vertical
{
height:14px;
margin-left:-3px;
margin-right:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #CFDDEE,stop:0.8 #7F9AB8);
}

QScrollBar:horizontal
{
background:#C0D3EB;
padding:0px;
border-radius:6px;
max-height:12px;
}

QScrollBar::handle:horizontal
{
background:#CADDF3;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover
{
background:#7F9AB8;
}

QScrollBar::handle:horizontal:pressed
{
background:#7F9AB8;
}

QScrollBar::add-page:horizontal
{
background:none;
}

QScrollBar::sub-page:horizontal
{
background:none;
}

QScrollBar::add-line:horizontal
{
background:none;
}

QScrollBar::sub-line:horizontal
{
background:none;
}

QScrollBar:vertical
{
background:#C0D3EB;
padding:0px;
border-radius:6px;
max-width:12px;
}

QScrollBar::handle:vertical
{
background:#CADDF3;
min-height:50px;
border-radius:6px;
}

QScrollBar::handle:vertical:hover
{
background:#7F9AB8;
}

QScrollBar::handle:vertical:pressed
{
background:#7F9AB8;
}

QScrollBar::add-page:vertical
{
background:none;
}

QScrollBar::sub-page:vertical
{
background:none;
}

QScrollBar::add-line:vertical
{
background:none;
}

QScrollBar::sub-line:vertical
{
background:none;
}

QScrollArea
{
border:0px;
}

QTreeView,QListView,QTableView,QTabWidget::pane
{
border:1px solid #7F9AB8;
selection-background-color:#D2E3F5;
selection-color:#324C6C;
alternate-background-color:#CADDF3;
gridline-color:#7F9AB8;
}

QTreeView::branch:closed:has-children
{
image:url(:/qss/qss/blue/branch_close.png);
}

QTreeView::branch:open:has-children
{
image:url(:/qss/qss/blue/branch_open.png);
}

QTreeView,QListView,QTableView,QSplitter::handle,QTreeView::branch
{
background:#CFDDEE;
}

QTableView::item:selected,QListView::item:selected,QTreeView::item:selected
{
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QTableView::item:hover,QListView::item:hover,QTreeView::item:hover
{
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QTableView::item,QListView::item,QTreeView::item
{
padding:1px;
margin:0px;
}

QHeaderView::section,QTableCornerButton:section
{
padding:3px;
margin:0px;
color:#324C6C;
border:1px solid #7F9AB8;
border-left-width:0px;
border-right-width:1px;
border-top-width:0px;
border-bottom-width:1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QTabBar::tab
{
border:1px solid #7F9AB8;
color:#324C6C;
margin-right:0px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QTabBar::tab:selected,QTabBar::tab:hover
{
border-style:solid;
border-color:#00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QTabBar::tab:top,QTabBar::tab:bottom
{
padding:3px 8px 3px 8px;
}

QTabBar::tab:left,QTabBar::tab:right
{
padding:8px 3px 8px 3px;
}

QTabBar::tab:top:selected,QTabBar::tab:top:hover
{
border-width:2px 0px 0px 0px;
}

QTabBar::tab:right:selected,QTabBar::tab:right:hover
{
border-width:0px 0px 0px 2px;
}

QTabBar::tab:bottom:selected,QTabBar::tab:bottom:hover
{
border-width:0px 0px 2px 0px;
}

QTabBar::tab:left:selected,QTabBar::tab:left:hover
{
border-width:0px 2px 0px 0px;
}

QTabBar::tab:first:top:selected,QTabBar::tab:first:top:hover,QTabBar::tab:first:bottom:selected,QTabBar::tab:first:bottom:hover
{
border-left-width:1px;
border-left-color:#7F9AB8;
}

QTabBar::tab:first:left:selected,QTabBar::tab:first:left:hover,QTabBar::tab:first:right:selected,QTabBar::tab:first:right:hover
{
border-top-width:1px;
border-top-color:#7F9AB8;
}

QTabBar::tab:last:top:selected,QTabBar::tab:last:top:hover,QTabBar::tab:last:bottom:selected,QTabBar::tab:last:bottom:hover
{
border-right-width:1px;
border-right-color:#7F9AB8;
}

QTabBar::tab:last:left:selected,QTabBar::tab:last:left:hover,QTabBar::tab:last:right:selected,QTabBar::tab:last:right:hover
{
border-bottom-width:1px;
border-bottom-color:#7F9AB8;
}

QStatusBar::item
{
border:0px solid #C0D3EB;
border-radius:3px;
}

QToolBox::tab,QGroupBox#gboxDevicePanel,QGroupBox#gboxDeviceTitle,QFrame#gboxDevicePanel,QFrame#gboxDeviceTitle
{
padding:3px;
border-radius:5px;
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QToolTip
{
border:0px solid #324C6C;
padding:1px;
color:#324C6C;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QToolBox::tab:selected
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #D2E3F5,stop:1 #CADDF3);
}

QPrintPreviewDialog QToolButton
{
border:0px solid #324C6C;
border-radius:0px;
margin:0px;
padding:3px;
background:none;
}

QColorDialog QPushButton,QFileDialog QPushButton
{
min-width:80px;
}

QToolButton#qt_calendar_prevmonth
{
icon-size:0px;
min-width:20px;
image:url(:/qss/qss/blue/calendar_prevmonth.png);
}

QToolButton#qt_calendar_nextmonth
{
icon-size:0px;
min-width:20px;
image:url(:/qss/qss/blue/calendar_nextmonth.png);
}

QToolButton#qt_calendar_prevmonth,QToolButton#qt_calendar_nextmonth,QToolButton#qt_calendar_monthbutton,QToolButton#qt_calendar_yearbutton
{
border:0px solid #324C6C;
border-radius:3px;
margin:3px 3px 3px 3px;
padding:3px;
background:none;
}

QToolButton#qt_calendar_prevmonth:hover,QToolButton#qt_calendar_nextmonth:hover,QToolButton#qt_calendar_monthbutton:hover,QToolButton#qt_calendar_yearbutton:hover,QToolButton#qt_calendar_prevmonth:pressed,QToolButton#qt_calendar_nextmonth:pressed,QToolButton#qt_calendar_monthbutton:pressed,QToolButton#qt_calendar_yearbutton:pressed
{
border:1px solid #7F9AB8;
}

QCalendarWidget QSpinBox#qt_calendar_yearedit
{
margin:2px;
}

QCalendarWidget QToolButton::menu-indicator
{
image:None;
}

QCalendarWidget QTableView
{
border-width:0px;
}

QCalendarWidget QWidget#qt_calendar_navigationbar
{
border:1px solid #7F9AB8;
border-width:1px 1px 0px 1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #C0D3EB,stop:1 #BCCFE7);
}

QComboBox QAbstractItemView::item
{
min-height:20px;
min-width:10px;
}

QTableView[model="true"]::item
{
padding:0px;
margin:0px;
}

QTableView QLineEdit,QTableView QComboBox,QTableView QSpinBox,QTableView QDoubleSpinBox,QTableView QDateEdit,QTableView QTimeEdit,QTableView QDateTimeEdit
{
border-width:0px;
border-radius:0px;
}

QTableView QLineEdit:focus,QTableView QComboBox:focus,QTableView QSpinBox:focus,QTableView QDoubleSpinBox:focus,QTableView QDateEdit:focus,QTableView QTimeEdit:focus,QTableView QDateTimeEdit:focus
{
border-width:0px;
border-radius:0px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit
{
background:#CFDDEE;
}

*:disabled
{
background:#CFDDEE;
border-color:#C0D3EB;
}

/*TextColor:#324C6C*/
/*PanelColor:#CFDDEE*/
/*BorderColor:#7F9AB8*/
/*NormalColorStart:#C0D3EB*/
/*NormalColorEnd:#BCCFE7*/
/*DarkColorStart:#D2E3F5*/
/*DarkColorEnd:#CADDF3*/
/*HighColor:#00BB9E*/
