QPalette{background:#F0F0F0;}*{outline:0px;color:#000000;}

QWidget[form="true"],QLabel[frameShape="1"]
{
border:1px solid #A9A9A9;
border-radius:0px;
}

.QFrame
{
border:1px solid #A9A9A9;
border-radius:3px;
background-color:#A9A9A9;
}

QWidget#widget_title,QWidget#widget_left
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QWidget#widget_bottom
{
background:#E4E4E4;
}

QWidget#widget_bottom>QFrame
{
border:1px solid #000000;
}

QLabel#lab_Title,QWidget#widget_title>QLabel,QWidget#widget_bottom>QLabel
{
border-radius:0px;
color:#000000;
background:none;
border-style:none;
}

QWidget#widget_top>QToolButton::menu-indicator,QWidget#widget_menu>QToolButton::menu-indicator
{
image:None;
}

QWidget#widget_top>QToolButton,QWidget#widget_top>QLabel
{
border-style:none;
border-radius:0px;
padding:5px;
color:#000000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QWidget#widget_top>QToolButton:pressed,QWidget#widget_top>QToolButton:hover,QWidget#widget_top>QToolButton:checked,QWidget#widget_top>QLabel:hover
{
border-style:solid;
border-width:0px 0px 2px 0px;
border-color:#00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

QGroupBox#gboxVideo>QLabel,QFrame#gboxVideo>QLabel
{
color:#000000;
border:1px solid #A9A9A9;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QGroupBox#gboxVideo>QLabel:focus,QFrame#gboxVideo>QLabel:focus
{
border:1px solid #FF0000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit
{
border:1px solid #A9A9A9;
border-radius:0px;
padding:2px;
background:none;
selection-background-color:#E4E4E4;
selection-color:#000000;
}

QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover
{
border:1px solid #A9A9A9;
}

QLineEdit[echoMode="2"]{
lineedit-password-character:9679;
}

.QGroupBox{
border:1px solid #A9A9A9;
border-radius:5px;
margin-top:3ex;
}

.QGroupBox::title{
subcontrol-origin:margin;
position:relative;
left:10px;
}

.QPushButton,.QToolButton
{
font-family:MicroSoft YaHei;
border-style:none;
border:1px solid #A9A9A9;
color:#000000;
padding:5px;
min-height:15px;
border-radius:8px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

.QPushButton:hover,QToolButton:hover
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

.QPushButton:pressed,QToolButton:pressed
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QToolButton#btnMenu,QPushButton#btnMenu_Min,QPushButton#btnMenu_Max,QPushButton#btnMenu_Close
{
border-radius:3px;
color:#000000;
padding:3px;
margin:0px;
background:none;
border-style:none;
}

QToolButton#btnMenu:hover,QPushButton#btnMenu_Min:hover,QPushButton#btnMenu_Max:hover
{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(51,127,209,230);
}

QPushButton#btnMenu_Close:hover{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(238,0,0,128);
}

QWidget#widget_left>QPushButton,QWidget#widget_left>QToolButton
{
border-radius:0px;
color:#000000;
background:none;
border-style:none;
}

QWidget#widget_left>QPushButton:hover,QWidget#widget_left>QToolButton:hover{
color:#FFFFFF;
background-color:#00BB9E;
}

QWidget#widget_left>QPushButton:checked,QWidget#widget_left>QToolButton:checked,QWidget#widget_left>QPushButton:pressed,QWidget#widget_left>QToolButton:pressed{
color:#000000;
border-style:solid;
border-width:0px 0px 0px 2px;
border-color:#00BB9E;
background-color:#F0F0F0;
}

QListWidget
{
border-radius:0px;
}

QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator
{
padding:0px -3px 0px 3px;
}

QCheckBox::indicator,QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator
{
width:13px;
height:13px;
}

QCheckBox::indicator:unchecked,QGroupBox::indicator:unchecked,QTreeWidget::indicator:unchecked,QListWidget::indicator:unchecked
{
image:url(:/qss/qss/gray/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:disabled,QGroupBox::indicator:unchecked:disabled,QTreeWidget::indicator:unchecked:disabled,QListWidget::indicator:disabled
{
image:url(:/qss/qss/gray/checkbox_unchecked_disable.png);
}

QCheckBox::indicator:checked,QGroupBox::indicator:checked,QTreeWidget::indicator:checked,QListWidget::indicator:checked
{
image:url(:/qss/qss/gray/checkbox_checked.png);
}

QCheckBox::indicator:checked:disabled,QGroupBox::indicator:checked:disabled,QTreeWidget::indicator:checked:disabled,QListWidget::indicator:checked:disabled
{
image:url(:/qss/qss/gray/checkbox_checked_disable.png);
}

QCheckBox::indicator:indeterminate,QGroupBox::indicator:indeterminate,QTreeWidget::indicator:indeterminate,QListWidget::indicator:indeterminate
{
image:url(:/qss/qss/gray/checkbox_parcial.png);
}

QCheckBox::indicator:indeterminate:disabled,QGroupBox::indicator:indeterminate:disabled,QTreeWidget::indicator:indeterminate:disabled,QListWidget::indicator:indeterminate:disabled
{
image:url(:/qss/qss/gray/checkbox_parcial_disable.png);
}

QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button
{
image:url(:/qss/qss/gray/add_top.png);
width:10px;
height:10px;
padding:2px 5px 0px 0px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button
{
image:url(:/qss/qss/gray/add_bottom.png);
width:10px;
height:10px;
padding:0px 5px 2px 0px;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed
{
top:-2px;
}
  
QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed
{
bottom:-2px;
}

QComboBox::down-arrow,QDateEdit[calendarPopup="true"]::down-arrow,QTimeEdit[calendarPopup="true"]::down-arrow,QDateTimeEdit[calendarPopup="true"]::down-arrow
{
image:url(:/qss/qss/gray/add_bottom.png);
width:10px;
height:10px;
right:5px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down
{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-left-color:#A9A9A9;
}

QComboBox::drop-down:on
{
top:1px;
}

QMenuBar::item
{
color:#000000;
background-color:#E4E4E4;
margin:0px;
padding:3px 10px;
}

QMenu,QMenuBar,QMenu:disabled,QMenuBar:disabled
{
color:#000000;
background-color:#E4E4E4;
border:1px solid #A9A9A9;
margin:0px;
}

QMenu::item
{
padding:5px 5px;
}

QMenu::icon
{
position:absolute;
left:5px;
}

QMenu::indicator
{
padding:15px 10px;
width:13px;
height:13px;
}

QMenu::item:selected,QMenuBar::item:selected
{
color:#000000;
border:0px solid #A9A9A9;
background:#DBDBDB;
}

QMenu::separator
{
height:1px;
background:#A9A9A9;
margin-left:10px;
margin-right:10px;
}

QProgressBar{
min-height:10px;
background:#E4E4E4;
border-radius:5px;
text-align:center;
border:1px solid #E4E4E4;
}

QProgressBar:chunk{
border-radius:5px;
background-color:#A9A9A9;
}

QSlider::groove:horizontal{
background:#E4E4E4;
height:8px;
border-radius:4px;
}

QSlider::add-page:horizontal{
background:#E4E4E4;
height:8px;
border-radius:4px;
}

QSlider::sub-page:horizontal{
background:#A9A9A9;
height:8px;
border-radius:4px;
}

QSlider::handle:horizontal{
width:13px;
margin-top:-3px;
margin-bottom:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #F0F0F0,stop:0.8 #A9A9A9);
}

QSlider::groove:vertical{
width:8px;
border-radius:4px;
background:#E4E4E4;
}

QSlider::add-page:vertical{
width:8px;
border-radius:4px;
background:#E4E4E4;
}

QSlider::sub-page:vertical{
width:8px;
border-radius:4px;
background:#A9A9A9;
}

QSlider::handle:vertical{
height:14px;
margin-left:-3px;
margin-right:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #F0F0F0,stop:0.8 #A9A9A9);
}

QScrollBar:horizontal{
background:#E4E4E4;
padding:0px;
border-radius:6px;
max-height:12px;
}

QScrollBar::handle:horizontal{
background:#C1C1C1;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover{
background:#A9A9A9;
}

QScrollBar::handle:horizontal:pressed{
background:#A9A9A9;
}

QScrollBar::add-page:horizontal{
background:none;
}

QScrollBar::sub-page:horizontal{
background:none;
}

QScrollBar::add-line:horizontal{
background:none;
}

QScrollBar::sub-line:horizontal{
background:none;
}

QScrollBar:vertical{
background:#E4E4E4;
padding:0px;
border-radius:6px;
max-width:12px;
}

QScrollBar::handle:vertical{
background:#C1C1C1;
min-height:50px;
border-radius:6px;
}

QScrollBar::handle:vertical:hover{
background:#A9A9A9;
}

QScrollBar::handle:vertical:pressed{
background:#A9A9A9;
}

QScrollBar::add-page:vertical{
background:none;
}

QScrollBar::sub-page:vertical{
background:none;
}

QScrollBar::add-line:vertical{
background:none;
}

QScrollBar::sub-line:vertical{
background:none;
}

QScrollArea
{
border:0px;
}

QTreeView,QListView,QTableView,QTabWidget::pane
{
border:1px solid #A9A9A9;
selection-background-color:#DBDBDB;
selection-color:#000000;
alternate-background-color:#C1C1C1;
gridline-color:#A9A9A9;
}

QTreeView::branch:closed:has-children
{
margin:4px;
border-image:url(:/qss/qss/gray/branch_open.png);
}

QTreeView::branch:open:has-children
{
margin:4px;
border-image:url(:/qss/qss/gray/branch_close.png);
}

QTreeView,QListView,QTableView,QSplitter::handle,QTreeView::branch
{
background:#F0F0F0;
}

QTableView::item:selected,QListView::item:selected,QTreeView::item:selected
{
color:#000000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QTableView::item:hover,QListView::item:hover,QTreeView::item:hover
{
color:#000000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

QTableView::item,QListView::item,QTreeView::item
{
padding:1px;
margin:0px;
}

QHeaderView::section,QTableCornerButton:section
{
padding:3px;
margin:0px;
color:#000000;
border:1px solid #A9A9A9;
border-left-width:0px;
border-right-width:1px;
border-top-width:0px;
border-bottom-width:1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

QTabBar::tab
{
border:1px solid #A9A9A9;
color:#000000;
margin-right:0px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

QTabBar::tab:selected,QTabBar::tab:hover
{
border-style:solid;
border-color:#00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QTabBar::tab:top,QTabBar::tab:bottom
{
padding:3px 8px 3px 8px;
}

QTabBar::tab:left,QTabBar::tab:right
{
padding:8px 3px 8px 3px;
}

QTabBar::tab:top:selected,QTabBar::tab:top:hover
{
border-width:2px 0px 0px 0px;
}

QTabBar::tab:right:selected,QTabBar::tab:right:hover
{
border-width:0px 0px 0px 2px;
}

QTabBar::tab:bottom:selected,QTabBar::tab:bottom:hover
{
border-width:0px 0px 2px 0px;
}

QTabBar::tab:left:selected,QTabBar::tab:left:hover
{
border-width:0px 2px 0px 0px;
}

QTabBar::tab:first:top:selected,QTabBar::tab:first:top:hover,QTabBar::tab:first:bottom:selected,QTabBar::tab:first:bottom:hover
{
border-left-width:1px;
border-left-color:#A9A9A9;
}

QTabBar::tab:first:left:selected,QTabBar::tab:first:left:hover,QTabBar::tab:first:right:selected,QTabBar::tab:first:right:hover
{
border-top-width:1px;
border-top-color:#A9A9A9;
}

QTabBar::tab:last:top:selected,QTabBar::tab:last:top:hover,QTabBar::tab:last:bottom:selected,QTabBar::tab:last:bottom:hover
{
border-right-width:1px;
border-right-color:#A9A9A9;
}

QTabBar::tab:last:left:selected,QTabBar::tab:last:left:hover,QTabBar::tab:last:right:selected,QTabBar::tab:last:right:hover
{
border-bottom-width:1px;
border-bottom-color:#A9A9A9;
}

QStatusBar::item{
border:0px solid #E4E4E4;
border-radius:3px;
}

QToolBox::tab,QGroupBox#gboxDevicePanel,QGroupBox#gboxDeviceTitle,QFrame#gboxDevicePanel,QFrame#gboxDeviceTitle
{
padding:3px;
border-radius:5px;
color:#000000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QToolTip
{
border:0px solid #000000;
padding:1px;
color:#000000;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QToolBox::tab:selected
{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #DBDBDB,stop:1 #C1C1C1);
}

QPrintPreviewDialog QToolButton
{
border:0px solid #000000;
border-radius:0px;
margin:0px;
padding:3px;
background:none;
}

QColorDialog QPushButton,QFileDialog QPushButton
{
min-width:80px;
}

QToolButton#qt_calendar_prevmonth
{
icon-size:0px;
min-width:20px;
image:url(:/qss/qss/gray/calendar_prevmonth.png);
}

QToolButton#qt_calendar_nextmonth
{
icon-size:0px;
min-width:20px;
image:url(:/qss/qss/gray/calendar_nextmonth.png);
}

QToolButton#qt_calendar_prevmonth,QToolButton#qt_calendar_nextmonth,QToolButton#qt_calendar_monthbutton,QToolButton#qt_calendar_yearbutton
{
border:0px solid #000000;
border-radius:3px;
margin:3px 3px 3px 3px;
padding:3px;
background:none;
}

QToolButton#qt_calendar_prevmonth:hover,QToolButton#qt_calendar_nextmonth:hover,QToolButton#qt_calendar_monthbutton:hover,QToolButton#qt_calendar_yearbutton:hover,QToolButton#qt_calendar_prevmonth:pressed,QToolButton#qt_calendar_nextmonth:pressed,QToolButton#qt_calendar_monthbutton:pressed,QToolButton#qt_calendar_yearbutton:pressed
{
border:1px solid #A9A9A9;
}

QCalendarWidget QSpinBox#qt_calendar_yearedit
{
margin:2px;
}

QCalendarWidget QToolButton::menu-indicator
{
image:None;
}

QCalendarWidget QTableView{
border-width:0px;
}

QCalendarWidget QWidget#qt_calendar_navigationbar
{
border:1px solid #A9A9A9;
border-width:1px 1px 0px 1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #A2A2A2);
}

QComboBox QAbstractItemView
{
border-radius:5px;
}

QComboBox QAbstractItemView::item
{
min-height:20px;
min-width:10px;
}

QTableView[model="true"]::item
{
padding:0px;
margin:0px;
}

QTableView QLineEdit,QTableView QComboBox,QTableView QSpinBox,QTableView QDoubleSpinBox,QTableView QDateEdit,QTableView QTimeEdit,QTableView QDateTimeEdit
{
border-width:0px;
border-radius:0px;
}

QTableView QLineEdit:focus,QTableView QComboBox:focus,QTableView QSpinBox:focus,QTableView QDoubleSpinBox:focus,QTableView QDateEdit:focus,QTableView QTimeEdit:focus,QTableView QDateTimeEdit:focus
{
border-width:0px;
border-radius:0px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit
{
background:#F0F0F0;
}

*:disabled{
background:#F0F0F0;
border-color:#E4E4E4;
}

/*TextColor:#000000*/
/*PanelColor:#F0F0F0*/
/*BorderColor:#A9A9A9*/
/*NormalColorStart:#E4E4E4*/
/*NormalColorEnd:#A2A2A2*/
/*DarkColorStart:#DBDBDB*/
/*DarkColorEnd:#C1C1C1*/
/*HighColor:#00BB9E*/
